.nav {
  background: #454545;
  color: #fff;
}

.nav__container {
  min-height: 10vh;
  max-width: 1200px;
  margin: auto;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.navitems {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
